@mixin box-sizing($wvalue){
	-webkit-box-sizing:$wvalue;
	-moz-box-sizing:$wvalue;
	box-sizing:$wvalue;
}
@mixin transform($wvalue...) {
	-webkit-transform:$wvalue;
	-ms-transform:$wvalue;
	transform:$wvalue;
}
@mixin transition($wvalue...) {
    -moz-transition:    $wvalue;
    -o-transition:      $wvalue;
    -webkit-transition: $wvalue;
    transition:         $wvalue;
}
@mixin opacity($wvalue) {
	opacity:$wvalue;
	/* for Iexplorer 8 and earlier */
	filter: alpha(opacity=$wvalue*100);
}
@mixin border-radius($wvalue){
    -webkit-border-radius: $wvalue;
    -moz-border-radius: $wvalue;
    -ms-border-radius: $wvalue;
    border-radius: $wvalue;
}
