
$wfontsize:14px;
$wfontfamily:'leaguegothic-regular';
$wbg-header-footer: rgba(255,255,255,0.5);

@font-face {
	font-family: 'leaguegothic-regular';
	src: url(../../fonts/leaguegothic-regular-webfont.eot) format('embedded-opentype'),
		 url(../../fonts/leaguegothic-regular-webfont.woff) format('woff'), 
		 url(../../fonts/leaguegothic-regular-webfont.ttf) format('truetype'),
		 url(../../fonts/leaguegothic-regular-webfont.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

@import 'functions.css.scss'; 

* {
	@include box-sizing(border-box);
}
html, body {
	font-size: $wfontsize;
	margin: 0;
	padding: 0;
	font-family: $wfontfamily;
}

.wallpaper {
	@include transition(all 5s ease-in-out);
	width:100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url(../../img/img_wallpaper_gs1.jpg);
	background-size:100% 100%;
	z-index: -10;
	@include opacity(0.5);
}
main {
	width: 1200px;
	margin: 0 auto;
}
main header {
	/*display: none;*/
	.header-top-side {
		background-color: rgba(192,192,192,0.5);
		display: block;
		height: 10px;
		width: 100%;
	}
	.header-middle-side {
		overflow: hidden;
		padding: 15px 0px;
		height: auto;
		display: block;
		background-color: $wbg-header-footer;
		.header-logo {
			margin: 0;
			width: 30%;
			float: left;
			a {
				margin: 0;
				padding: 0;
				height: auto;
				display: block;
				@include transition(all 1s ease-in-out);
				@include transform(rotate(-360deg));
				img {
					width: 160px;
					height: auto;
					display: block;
					margin: 0 auto;
				}
				&:hover { 
					@include transition(all 1s ease-in-out);
					@include transform(rotate(360deg));
				}
			}
		}
		.header-icon {
			$wcolorhover:rgba(0,0,0,1.0);
			$wcolornormal:rgba(0,0,0,0.5);
			float: right;
			height: auto;
			margin: 0;
			padding: 40px 0 0 0;
			list-style:none;
			li {
				width: auto;
				padding: 10px 30px;
				color: $wcolornormal;
				display:inline-block;
				a {
					&:active, &:link, &:visited, &:focus {
						display:block;
						text-decoration: none;
						color: $wcolornormal;
					}
					&:hover {
						color: $wcolorhover;
						cursor: pointer;
						i {
							@include transition(all 0.4s ease-in-out);
							@include transform(scale(1.4));
							padding-right:10px;
						}
					}
					i, .icon-data {
						float: left;
						@include transition(all 1s ease-in-out);
						@include transform(scale(1));
					}
					i { 
						font-size: 3rem;
						@include transition(all 0.4s ease-in-out);
						@include transform(scale(1));
					}
					.icon-data {
						display: inline-block;
						width: auto;
						span, label {
							display: block;
							padding-left:10px;
						}
						span {
							font-size: 1.6rem;
							letter-spacing: 2px;
						}
						label {
							font-size: 1.4rem;
							letter-spacing: 1px;
						}
					}
				}
				&:not(:last-child) {
					border-right: 1px solid silver;
				}	
			}
		}
	}
	$wbackground-navigator:rgba(0,244,230,0.6);
	$wcolor-item:rgba(0,0,0,0.5);
	.header-bottom-side {
		clear: both;
		.header-bar {
			display: block;
			height: 0;
			background-color:$wbackground-navigator;
			@include transition(all 1s ease-in-out);
			@include border-radius(3px);
			a {
				&:active, &:focus, &:visited, &:link {
					font-size: 3rem;
					line-height:4rem;
					color: $wcolor-item;
					text-align: right;
					display: block;
					padding-right: 20px;
					@include transition(all 1s ease-in-out);	
					text-decoration: none;
					@include transform(scale(0));	
				}
				&:hover {
					color: #FFFFFF;
					cursor: pointer ;
					text-shadow:1px 1px 3px rgba(0,0,0,0.7);
				}
			} 	
		}

		.header-navigator {
			@include transition(all 1s ease-in-out);
			ul {
				border: 1px solid rgba(0,244,230,0.6);
				@include border-radius(3px);
				margin: 0;
				padding: 0;
				list-style: none;
				overflow: hidden;
				width: 100%;
				li {
					float: left;
					width: 20%;
					a {
						&:active, &:focus, &:visited, &:link {
							text-align: center;
							font-size: 1.7rem;
							text-decoration: none;
							display: block;
							padding: 15px 50px;
							color:  $wcolor-item;
							background-color: $wbackground-navigator;
							@include transition(all 0.5s ease-in-out);
						}
						&:hover, &.selected {
							color: #FFFFFF;
							background-color:#00f4e6;
							text-shadow:1px 1px 3px rgba(0,0,0,0.7);
						}
					}
				}	
			}
		}
	}
}

/* Content area */

@import 'main-content.css.scss' ;

/* Footer area */

/*$wcolorblack:#000000;*/
$wcolorblack: rgba(0,0,0,0.7);
$wline-height: 70px;
main footer {
	/*display: none;*/
	background-color: $wbg-header-footer;
	height: 70px;
	margin-bottom:10px;
	overflow: hidden;
	.footer-copyright, .footer-links, .footer-menu {
		float: left;
		width: 33.333%;
	}
	.footer-copyright {
		text-align: center;
		label {
			color: $wcolorblack;
			font-size: 1.3rem;
			a {
				&:focus, &:visited, &:active, &:link {
					color: $wcolorblack;
					font-size: 1.3rem;
					text-decoration: none;
					line-height: $wline-height;		
				}
			}
		}
	}
	.footer-links {
		overflow: hidden;
		.links-item {
			@include transition(all 0.5s ease-in-out);
			float: left;
			display: inline-block;
			width: 25%;
			text-align: center;
			&:hover {
				cursor: pointer;
				background-color: rgba(0,0,0,0.8);
				@include border-radius(3px);
				& > a {
					font-size: 3rem !important;
					color: rgba(255,255,255,0.8) !important;
					text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
				}
			}
			a {
				@include transition(all 0.3s ease-in-out);
				&:active, &:link, &:visited, &:focus {
					text-decoration: none;
					font-size: 1.8rem;
					color: $wcolorblack;
					line-height: $wline-height;
				} 
			}
		}
	}
	.footer-menu {
		text-align: center;
		ul {
			list-style: none;
			overflow: hidden;
			margin: 0; padding: 0;
			display: inline-block;
			li {
				float: left;
				a {
					&::after {
						position: absolute;
						bottom: 10px;
						left: 7px;
						height: 2px;
						width: 0px;
						content:"";
						background-color: $wcolorblack;
						@include transition(all 0.5s ease-in-out);
						@include opacity(0);
					}
					&:hover {
						&::after {
							width: 60px;
							@include opacity(1);
						}
					}
					&:active, &:link, &:visited, &:focus {
						text-decoration: none;
						font-size: 1.3rem;
						color: $wcolorblack;
						display: block;
						padding-right:15px;
						padding-left:15px;
						position: relative;
						line-height: $wline-height;
					}
					&::before {
						position: absolute;
						top: 28px;
						left: -4px;
						height: 15px;
						width: 2px;
						content:"";
						background-color: $wcolorblack;
					} 
				}
			}
		}
	}
}

@import 'media.css.scss' ; 