
$wfont-family:"Open Sans",sans-serif;
$wfont-color: rgba(0,0,0,0.9);

@import 'functions.css.scss';

.message-noresult {
    padding-left: 20px;
    padding-right: 20px;
    color:#d9534f;
    background-color: #fbeeed;
    border:1px solid #f7d8dd;
    font-family: "Open Sans",sans-serif;
    h3 {
            font-size: 1.2rem;
            .fa.fa-meh-o {
                    font-size: 2rem;
            }
    }
}
@mixin row-title {
	.row-title {
		margin: 0px;
		letter-spacing: 3px;
		font-size: 1.7rem;
		@include transition(all 2s ease-in-out);
		padding-left:0;
	}
}
@mixin row-paragraph {
	.row-paragraph {
		font-size: 1.2rem;
		font-weight: normal;
		font-family: $wfont-family;
		line-height: 1.7rem;
		color: $wfont-color;
	}
}
@keyframes contact-display-content {
	50% { }
	100% { @include transform(translate(0)); }
}

$wbg-banner: rgba(229,246,245,0.8);
$wborder-banner: rgba(192,192,192,0.5);
$wbg-header-footer: rgba(255,255,255,0.7);

main .content {
	clear: both;
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	.content-banner {
		height: auto;
		background-color:$wbg-banner ;
		border:1px solid $wborder-banner;
		color:rgba(255,255,255,0.9);
		margin-bottom:5px;
		.banner-label {
			padding-left: 25px;
			color: #000000;
			a {
				&:active, &:visited, &:link, &:focus {
					text-decoration: none;
					color: $wfont-color;
					padding-right: 5px;
				}
			}
			label {
				padding-left: 5px;
				color:#FFFFFF;
				text-shadow: 2px 2px 3px #000000; 
			}
			a, label {
				font-size:1.8rem;
				line-height: 4.1rem;
				text-transform: uppercase;
				
			}
		}
	}
	
	/*flyers area*/
	.sliders {
		height:auto;
		display: block;
		/*background-color: rgba(0,115,108,0.4);*/
		background-color:$wbg-header-footer;
		padding-top: 10px;
		position: relative;
		.item {
			height: 576px;
			width: 100%;
			@include opacity(0.8);
		}
	}
	.owl-carousel.owl-theme.owl-loaded.owl-drag {
		div.owl-nav {
			/*left: 0;
			width: 100%;*/
			.owl-prev, .owl-next {
				position: absolute;
				top:45%;
				padding: 20px 10px;
				background-color: rgba(0,0,0,0.4);
				color:rgba(255,255,255,0.8);
				font-weight: bold;
				border: 1px solid rgba(0,0,0,0.1);
				&:hover {
					background-color: rgba(0,0,0,0.7);
					color:rgba(255,255,255,1);	
				}
			}
			.owl-prev {
				float: left;
				left: 0;
			}
			.owl-next {
				float: right;
				right: 0;
			}
		}
	}
	
	.content-nosotros, .content-servicios, .content-contacto, .content-builder {
		background-color:$wbg-header-footer;
		height: auto;
	}
	
	.content-builder {
		.builder-nosotros {
			padding:25px;
			.content-row {
				@include transition(all 1s ease-in-out);
				overflow: hidden;
				&:hover {
					cursor:pointer;
					background-color: rgba(57,57,57,0.5);
					@include border-radius(5px);
					.row-body,.row-icon {
						i, .row-title, .row-paragraph {
							color: white;
						}
					}
					.row-icon {
						i { @include transform(scale(1.2)); }
					}
				}
				&.left {
					.row-body, .row-icon {
						float: left;
					}
				}
				&.right {
					.row-icon { float: right;  }
					.row-body { float: left;  }	
				}
				.row-icon {
					@include transition(all 1s ease-in-out);
					padding: 15px;
					width: 30%;
					i { 
						@include transition(all 1s ease-in-out);
						@include transform(scale(1));
						font-size: 7rem;
						text-align: center;
						display: block;
						line-height: 10rem;
					}
				}
				.row-body {
					@include transition(all 1s ease-in-out);
					padding: 15px;
					width: 70%;
					@include row-title;
					@include row-paragraph;
					.row-paragraph, .row-title {
						@include transition(all 1s ease-in-out);
					}
					.row-title {
						
					}
				}
			}
		}
		.builder-servicios,.builder-productos {
			padding:25px;
			overflow: hidden;
			.content-row {
				@include transition(background 0.5s ease-in-out,
									width 1s ease-in-out,
									opacity 1s ease-in-out);
				padding-top:15px;
				padding-bottom:15px;
				margin:3px 5px;
				float: left;
				width: 32%;
				overflow: hidden;
				@include border-radius(5px);
				&:hover {
					cursor:pointer;	
					background-color: rgba(0,0,0,0.3);
					figure {
						background: rgba(243,250,253,1);
						img {
							@include opacity(1);
							@include transform(scale(1.1));
						}
					}
				}
				@include row-title;
				.row-title {
					@include transition(all 1s ease-in-out);
					padding-top:10px;
					text-align: center;
					text-transform: uppercase;
					color: white;
					text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
				}
				figure {
					@include transition(all 1s ease-in-out);
					@include transform(scale(1));
					padding: 0;
					margin: 0 auto;
					width: 350px;
					height: auto;
					/*height: 550px;*/
					display:block;
					overflow: hidden;
					@include border-radius(5px);
					background: rgba(255,255,255,0.6);
					border : 1px solid rgba(229,229,229,1);
					img {
						@include transition(all 1s ease-in-out);
						width: 100%;
						height: 100%;
						@include border-radius(5px);
						@include opacity(0.7);
					}
				}
			}
		}
		.builder-productos {
			.content-row {
				figure {
					width: 250px;
				} 
			}
		}
	}

	.content-contacto {
		margin-top:5px;
		margin-bottom:5px;
		.contacto-panel {
			padding: 0;
			margin: 0;
			list-style: none;
			font-size:0;
			li {
				display: inline-block;
				width: 50%;
				a {
					@include transition(background-color 0.5s ease); 
					&:active, &:focus, &:visited, &:link {
						text-decoration: none;
						font-size: 2rem;
						padding: 15px;
						width: 100%;
						display: block;
						color: rgba(255,255,255,0.9);
						background-color: #5F5E5E;
					}
					&.selected, &.selected:hover {
						background-color: #353333;
					}
					&:hover {
						cursor: pointer;
						background-color: #494747;
					}
				}
			}
		}
		.contacto-layer {
			overflow: hidden;
			height: auto;
			position: relative;
			padding-bottom:5px;
			.layer-contactus, .layer-findus {
				@include transition(all 1 ease-in-out);
				@include transform(translate(1000px,0));
				display: none;
				&.selected {
					animation-name:contact-display-content;
					animation-duration: 1s;
					animation-iteration-count: 1;
					animation-fill-mode:forwards;
					display: block;
				}
			}
			.layer-contactus {
				padding-left: 20px;
				padding-top: 20px;
				.contact-row {
					overflow: hidden;
					margin-bottom: 10px;
					.row-label, .row-field {
						float: left;
					}
					.row-label {
						width: 20%;
						label {
							font-size: 1.5rem;
							padding-top: 10px;
							padding-left: 10px;
							display: block;
							color: #353637;
						}
					}
					.row-field {
						width: 80%;
						input,textarea {
							padding: 13.5px 20px;
							outline: none;
							color:#4b4f54;
							border:1px solid #ccc;
							background-color: #F0EEEE;
							width: 50%;
							font-size: 1.2rem;
							font-family:"Open Sans", sans-serif;
							border-radius: 3px;
							&:focus {
								border:1px solid rgba(0,244,230,0.8);
								background-color: #D1FFFC;
							}
						}
					}
					#bt_process {
						padding: 13px 25px;
						border: 1px solid #000000;
						color:#FFFFFF;
						@include transition(all 0.5s ease-in-out);
						background-color: #434343;
						&:hover {
							cursor: pointer;
							color:#FFFFFF;
							background-color: rgba(0,0,0,1);
						}
					}
				}
			}
			.layer-findus {
				overflow: hidden;
				padding-bottom: 10px;
				.findus-address, .findus-details, .findus-location {
					float: left;
					width: 49%;
					margin-left: 5px;
					h1 {
						font-size: 1.8rem;
						color: #353637;
						padding-left: 20px;
						letter-spacing: 1px;
						text-shadow: 1px 1px 2px rgba(255,255,255,0.6);
					}
					.infotext {
						background-color: rgba(0,0,0,0.2);
						padding-left: 20px;
						padding-top:5px;
						padding-bottom:5px;
						label {
							font-size: 1.4rem;
							color: #FFFFFF;
							text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
						}	
					}
				}
				.findus-location {
					width: 99%;
					#map-contact {
						height: 400px;
					}
				}
				
			}
		}
	}
}
