
@import 'functions.css.scss';

@mixin footer-style($wline-height) {
	main footer {
		height: auto;
		.footer-links, .footer-menu {
			float: left;
			width: 50%;
		}
		.footer-links {
			.links-item {
			 	a {
			 		&:active, &:link, &:visited, &:focus {
			 			 line-height: $wline-height;
			 		}
			 	}	
			}
		}
		.footer-menu {
			ul {
				li {
					a {
						&:active, &:link, &:visited, &:focus {
							line-height: $wline-height;
						}
						&::before {
							top: 18px;	
						}
					}
				}
			}
		}
		.footer-copyright {
			float: right;
			display:block;
			width: 100%;
			label {
				a {
					&:focus, &:visited, &:active, &:link {
						line-height: $wline-height;
					}
			 	}
			} 
		}
	}
}

@mixin view-small {
	html, body {
		font-size: 13px;
	}
	main header {
		.header-middle-side {
			.header-logo, .header-icon {
				width: 100% !important;
				display: block;
				text-align: center;
			}
			.header-icon {
				padding-top: 10px;
			}
		}
		.header-bottom-side {
			.header-navigator {
				@include transform(scale(0));
				ul {
					li {
						width: 100%;
						a {
							font-size: 0 !important;
							padding: 0 !important;
						}
					}
				}
				&.appear {
					/*@include transform(scale(1) rotate(360deg));*/
					@include transform(scale(1));
					ul {
						li {
							a {
								font-size: 1.7rem !important;
								padding: 15px 50px !important;	
							}
						}
					}
				}
			}
			.header-bar {
				height: auto;
				a {
					@include transform(scale(1) !important);
				}
			}
		}
	}
	main .content {
		.content-builder {
			.builder-servicios, .builder-productos {
				.content-row {
					width: 100% !important;
					display: block;
				}
			}
			.builder-nosotros {
				.content-row {
					.row-icon, .row-body {
						width: 100%;
						display: block; 
					}
					.row-body {
						.row-title {
							text-align: center;
						}
					}
				}
			}
		}
		.content-contacto {
			.contacto-layer {
				.layer-contactus {
					.contact-row {
						margin-bottom: 0;
						#bt_process {
							margin-top:10px;
							margin-bottom:10px;
						}
						.row-label { 
							width: 100% !important;
							label {
								padding-left: 0;
								padding-bottom: 10px;
							}
						}
						.row-field { 
							width: 100% !important;
							input, textarea {
								/*width: 80% !important;*/
								width: 90% !important;
								padding: 10px 20px;
							}
						}
					}
				}
			}
		}
	}
	
}
@mixin view-middle {
	$wline-height: 30px;
	main header {
		.header-middle-side {
			.header-logo {
				width: 50%;
			}
			.header-icon {
				width: 50%;
				li a {
					.icon-data {
						transform: scale(0);
						width:0px; 
						height:0px;
					}
				}
			}
		}
	}
	main .content {
		.content-builder {
			.builder-servicios, .builder-productos {
				.content-row {
					width: 50%;
					margin: 0;
				}
			}
		}
		.content-contacto {
			.contacto-layer {
				.layer-findus {
					.findus-address, .findus-details {
						width: 100% ;
						display: block;
					}
				}
			}
		}
	}
	main footer {
		.footer-links, .footer-menu {
			float: none !important;
			width: 100% !important;
			display: block;
		}
		.footer-copyright {
			float: none;
			display:block;
			width: 100%;
		}
	}
	@include footer-style(30px);
}
@mixin view-wide {
	$wline-height: 50px;
	main {
		width: 100%;
	}
	.content {
		.content-contacto {
			.contacto-layer {
				.layer-contactus {
					.contact-row {
						.row-label { width: 30% !important;}
						.row-field { 
							width: 70% !important;
							input, textarea {
								width: 80% !important;
							}
						}
					}
				}
			}
		}
	}
	@include footer-style(50px);
}

@mixin view-generation($view) {
    @if $view==view-small {
        @include view-small
    }
    @else if $view==view-middle  {
        @include view-middle
    } 
    @else if $view==view-wide {
        @include view-wide
    } 
} 
$wlist: 640, 980, 1200 ;
/*$wlist: 1024, 980, 640,  ;*/
$wcontent: view-small, view-middle, view-wide ;
@for $wsize from 1 through length($wlist) {
    $wvalue: nth($wlist,$wsize);
    $wdimmension: nth($wlist,$wsize)*1px;
    $wfunction: nth($wcontent,$wsize);
    @if $wvalue==640 {
        @media only screen and (max-width: $wdimmension) {
           @include view-generation($wfunction) 
        }   
    }
    @else {
        @media only screen and (max-width: $wdimmension) {
           @include view-generation($wfunction) 
        }   
    }
}
