div.content
	div.content-contacto
		ul.contacto-panel
			li: a(href="#layer-contactus") Contáctanos
			li: a(href="#layer-findus",class="selected") Encuéntranos
		
		div.contacto-layer
			div.layer-contactus#layer-contactus
				- var wdescription = ['Nombre y Apellido','Teléfono de Contacto','Dirección electrónica','Consulta'];
				- var winputs  = ['text','text','email','textarea'];
				- var wnames  = ['txt_names','txt_phone','txt_email','txt_query'];
				form(method="post",id="frm-contact",name="frm-contact")
					each witem,windex in wdescription
						div.contact-row
							div.row-label
								label #{wdescription[windex]}
							div.row-field
								case winputs[windex]
									when 'email'
									when 'text'
										input(type=winputs[windex],name=wnames[windex],id=wnames[windex],value="", required)
									when 'textarea': textarea
					div.contact-row
						input(type="submit",name="bt_process",id="bt_process",value="Enviar Solicitud")
			div.layer-findus.selected#layer-findus
				div.findus-address
					h1 Dirección
					div.infotext
						label Asoc. Sol de las Vinas, Cal. las Cucardas Mz C Lt 10 - Ate.
					div.infotext
						label Refe: 11.5 Km Carretera central.
				
				- wphone = "(01) 354 - 9002";
				- wnumbers = "+51 987246396 / +51 924462186";
				- wemail = "informes@textilesvyv.com";
				div.findus-details
					h1 Datos de Contacto
					div.infotext
						label Telefono : #{wphone} 
					div.infotext
						label Whatsapp : #{wnumbers}
					div.infotext
						label Correos :  #{wemail}
				div.findus-location
					h1 Datos de Localización
					div#map-contact
						- var wkeyid="AIzaSyDPZOqZegUaJho8H_Gq-fQ4GJqTQ1aqIGE";
						- var wpathmap="https://maps.googleapis.com/maps/api/js?key="+wkeyid+"&callback=loadMap";
						script(async,defer,src=wpathmap)