div.content
	div.sliders.owl-carousel.owl-theme
		| <? $objloaders->menu_slider(); ?>
		
		//- var wimages = "img_flyer_1.jpg img_flyer_2.jpg img_flyer_3.jpg img_flyer_4.jpg img_flyer_5.jpg img_flyer_6.jpg img_flyer_7.jpg img_flyer_8.jpg img_flyer_9.jpg img_flyer_10.jpg"
		//-
			-var wimages = "img_flyer_1.jpg img_flyer_2.jpg img_flyer_3.jpg img_flyer_4.jpg";
			-var wlist = wimages.split(" ");
			each witem,windex in wlist
				-var wimg="img/"+witem;
				div.item(style="background-size:cover; background-image:url("+wimg+")")
		