footer
	div.footer-menu
		ul
			| <? $objloaders->menu_navigator(); ?>
			//-
				-var wlist=[{'value':'Inicio','source':'home'},{'value':'Nosotros','source':'nosotros'},{'value':'Servicios','source':'servicios'},{'value':'Contacto','source':'contacto'}];
				each witem in wlist
					li: a(href=witem.source) #{witem.value}
					
	div.footer-links
		-var wurlmap="https://www.google.com/maps/?q=-12.013994,-76.879820";
		-var wlist=[{'title':'Escríbenos','source':'mailto:informes@textilesvyv.com'},{'title':'Consultas','source':'tel:013549002'},{'title':'Siguenos en Facebook!','source':'https://www.facebook.com/textilesvyv/'},{'title':'Encuéntranos','source':wurlmap}];
		-var wclass=['fa fa-envelope-o','fa fa-phone','fa fa-facebook','fa fa-map-marker'];
		-var wtype=['email','phone','facebook','location'];
		each witem,windex in wlist
			div.links-item(title=witem.title)
				case wtype[windex]
					when 'facebook'
					when 'location'
						a(href=witem.source,target='_blank',title=witem.title,class=wclass[windex])
					default
						a(href=witem.source,title=witem.title,class=wclass[windex])
				
	div.footer-copyright
		- var wlabel="Copyright 2018 - Todos los derechos reservados - <a href='http://www.textilesvyv.com' target='_blank' >textilesvyv.com</a>";
		label !{wlabel}
			