
header
	div.header-top-side
	div.header-middle-side
		figure.header-logo
			| <? $objloaders->logo() ; ?>
			//-
				- var wsource="img/img_logo.png";
				- var whome="home";
				a(href=whome)
					img(src=wsource)
					
		ul.header-icon
			- var wfacebook="https://www.facebook.com/textilesvyv/";
			- var wemail="informes@textilesvyv.com";
			- var wphone="01 354 9002";
			li
				a(href="mailto:"+wemail,title="Escríbenos")
					i.fa.fa-envelope-o(aria-hidden="true")
					div.icon-data
						span="Email"
						label #{wemail}
			li
				a(href="tel:"+wphone,title="Consultas")
					i.fa.fa-phone(aria-hidden="true")
					div.icon-data
						span="Central Telefónica"
						label #{wphone}
			li
				a(href=wfacebook,target="_blank",title="Encuéntranos en Facebook!")
					i.fa.fa-facebook(area-hidden="true")
					div.icon-data
			
	div.header-bottom-side
		div.header-bar
			a.fa.fa-bars(href="#",aria-hidden="true")
		nav.header-navigator
			ul
				| <? $objloaders->menu_navigator(); ?>
			//- 
				var wlist=[{'value':'Inicio','source':'home'},{'value':'Nosotros','source':'nosotros'},{'value':'Servicios','source':'servicios'},{'value':'Contacto','source':'contacto'}];
				each witem in wlist
					li: a(href=witem.source) #{witem.value}