.
	<?
		$whost = "https://".$_SERVER['HTTP_HOST'];
		#$whost.="/";
		$whost.="/web_vidal/";
		include_once('modules/module_process.php');
		include_once('modules/module_views.php');
		include_once('modules/module_loaders.php');
		$objprocess= new process();
		$objviews= new views($whost);
		$objloaders= new loaders($whost);
	?>
doctype html
html(lang="en")
	head
		block additional_top
		- var wtitle="Textiles V&V";
		title #{wtitle}
		block metas
		block fonts
		block styles
		block scripts
	body
		main
			block header
			block content
			block footer
			
			div.wallpaper
		
		block additional_down