block additional_top
	// Google Tag Manager
	script
		.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-N74WMXW');
	// End Google Tag Manager
	
block additional_down
	// Google Tag Manager (noscript)
	noscript
		iframe(
			src="https://www.googletagmanager.com/ns.html?id=GTM-N74WMXW",
			height=0,
			width=0,
			style="display:none;visibility:hidden",
		)
	// End Google Tag Manager (noscript)
	
block metas
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	
block fonts
	| <? $objloaders->fonts() ; ?>
	//-
		link(rel="stylesheet", href="css/font-awesome.css", type="text/css")
		link(rel="shortcut icon",href="img/favicon.ico",type="image/x-icon")
		link(rel="icon",href="img/favicon.ico",type="image/x-icon")
	
block scripts
	| <? $objloaders->scripts() ; ?>
	//-
		script(src="js/modernizr.js",type="text/javascript")
		script(src="js/jquery-3.2.1.min.js",type="text/javascript")
		script(src="js/owl.carousel.min.js",type="text/javascript")
		script(src="js/main.js",type="text/javascript")
	
block styles
	| <? $objloaders->links() ; ?>
	//-
		link(rel="stylesheet", href="css/normalize.css", type="text/css")
		link(rel="stylesheet", href="css/owl.carousel.min.css", type="text/css")
		link(rel="stylesheet", href="css/owl.theme.default.min.css", type="text/css")
		link(rel="stylesheet", href="css/stylesheets/main.css.css", type="text/css")