/* line 7, ../sass/main-content.css.scss */
.message-noresult {
  padding-left: 20px;
  padding-right: 20px;
  color: #d9534f;
  background-color: #fbeeed;
  border: 1px solid #f7d8dd;
  font-family: "Open Sans",sans-serif;
}
/* line 14, ../sass/main-content.css.scss */
.message-noresult h3 {
  font-size: 1.2rem;
}
/* line 16, ../sass/main-content.css.scss */
.message-noresult h3 .fa.fa-meh-o {
  font-size: 2rem;
}

@keyframes contact-display-content {
  100% {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
}
/* line 48, ../sass/main-content.css.scss */
main .content {
  clear: both;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  /*flyers area*/
}
/* line 53, ../sass/main-content.css.scss */
main .content .content-banner {
  height: auto;
  background-color: rgba(229, 246, 245, 0.8);
  border: 1px solid rgba(192, 192, 192, 0.5);
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 5px;
}
/* line 59, ../sass/main-content.css.scss */
main .content .content-banner .banner-label {
  padding-left: 25px;
  color: #000000;
}
/* line 63, ../sass/main-content.css.scss */
main .content .content-banner .banner-label a:active, main .content .content-banner .banner-label a:visited, main .content .content-banner .banner-label a:link, main .content .content-banner .banner-label a:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  padding-right: 5px;
}
/* line 69, ../sass/main-content.css.scss */
main .content .content-banner .banner-label label {
  padding-left: 5px;
  color: #FFFFFF;
  text-shadow: 2px 2px 3px #000000;
}
/* line 74, ../sass/main-content.css.scss */
main .content .content-banner .banner-label a, main .content .content-banner .banner-label label {
  font-size: 1.8rem;
  line-height: 4.1rem;
  text-transform: uppercase;
}
/* line 84, ../sass/main-content.css.scss */
main .content .sliders {
  height: auto;
  display: block;
  /*background-color: rgba(0,115,108,0.4);*/
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 10px;
  position: relative;
}
/* line 91, ../sass/main-content.css.scss */
main .content .sliders .item {
  height: 576px;
  width: 100%;
  opacity: 0.8;
  /* for Iexplorer 8 and earlier */
  filter: alpha(opacity=80);
}
/* line 98, ../sass/main-content.css.scss */
main .content .owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-nav {
  /*left: 0;
  width: 100%;*/
}
/* line 101, ../sass/main-content.css.scss */
main .content .owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-nav .owl-prev, main .content .owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-nav .owl-next {
  position: absolute;
  top: 45%;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 109, ../sass/main-content.css.scss */
main .content .owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-nav .owl-prev:hover, main .content .owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-nav .owl-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
/* line 114, ../sass/main-content.css.scss */
main .content .owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-nav .owl-prev {
  float: left;
  left: 0;
}
/* line 118, ../sass/main-content.css.scss */
main .content .owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-nav .owl-next {
  float: right;
  right: 0;
}
/* line 125, ../sass/main-content.css.scss */
main .content .content-nosotros, main .content .content-servicios, main .content .content-contacto, main .content .content-builder {
  background-color: rgba(255, 255, 255, 0.7);
  height: auto;
}
/* line 131, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros {
  padding: 25px;
}
/* line 133, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row {
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  overflow: hidden;
}
/* line 136, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row:hover {
  cursor: pointer;
  background-color: rgba(57, 57, 57, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 141, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row:hover .row-body i, main .content .content-builder .builder-nosotros .content-row:hover .row-body .row-title, main .content .content-builder .builder-nosotros .content-row:hover .row-body .row-paragraph, main .content .content-builder .builder-nosotros .content-row:hover .row-icon i, main .content .content-builder .builder-nosotros .content-row:hover .row-icon .row-title, main .content .content-builder .builder-nosotros .content-row:hover .row-icon .row-paragraph {
  color: white;
}
/* line 146, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row:hover .row-icon i {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 150, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row.left .row-body, main .content .content-builder .builder-nosotros .content-row.left .row-icon {
  float: left;
}
/* line 155, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row.right .row-icon {
  float: right;
}
/* line 156, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row.right .row-body {
  float: left;
}
/* line 158, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row .row-icon {
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding: 15px;
  width: 30%;
}
/* line 162, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row .row-icon i {
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  font-size: 7rem;
  text-align: center;
  display: block;
  line-height: 10rem;
}
/* line 171, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row .row-body {
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding: 15px;
  width: 70%;
}
/* line 22, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row .row-body .row-title {
  margin: 0px;
  letter-spacing: 3px;
  font-size: 1.7rem;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  padding-left: 0;
}
/* line 31, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row .row-body .row-paragraph {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7rem;
  color: rgba(0, 0, 0, 0.9);
}
/* line 177, ../sass/main-content.css.scss */
main .content .content-builder .builder-nosotros .content-row .row-body .row-paragraph, main .content .content-builder .builder-nosotros .content-row .row-body .row-title {
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 186, ../sass/main-content.css.scss */
main .content .content-builder .builder-servicios, main .content .content-builder .builder-productos {
  padding: 25px;
  overflow: hidden;
}
/* line 189, ../sass/main-content.css.scss */
main .content .content-builder .builder-servicios .content-row, main .content .content-builder .builder-productos .content-row {
  -moz-transition: background 0.5s ease-in-out, width 1s ease-in-out, opacity 1s ease-in-out;
  -o-transition: background 0.5s ease-in-out, width 1s ease-in-out, opacity 1s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out, width 1s ease-in-out, opacity 1s ease-in-out;
  transition: background 0.5s ease-in-out, width 1s ease-in-out, opacity 1s ease-in-out;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 3px 5px;
  float: left;
  width: 32%;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 200, ../sass/main-content.css.scss */
main .content .content-builder .builder-servicios .content-row:hover, main .content .content-builder .builder-productos .content-row:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 203, ../sass/main-content.css.scss */
main .content .content-builder .builder-servicios .content-row:hover figure, main .content .content-builder .builder-productos .content-row:hover figure {
  background: #f3fafd;
}
/* line 205, ../sass/main-content.css.scss */
main .content .content-builder .builder-servicios .content-row:hover figure img, main .content .content-builder .builder-productos .content-row:hover figure img {
  opacity: 1;
  /* for Iexplorer 8 and earlier */
  filter: alpha(opacity=100);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 22, ../sass/main-content.css.scss */
main .content .content-builder .builder-servicios .content-row .row-title, main .content .content-builder .builder-productos .content-row .row-title {
  margin: 0px;
  letter-spacing: 3px;
  font-size: 1.7rem;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  padding-left: 0;
}
/* line 212, ../sass/main-content.css.scss */
main .content .content-builder .builder-servicios .content-row .row-title, main .content .content-builder .builder-productos .content-row .row-title {
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
/* line 220, ../sass/main-content.css.scss */
main .content .content-builder .builder-servicios .content-row figure, main .content .content-builder .builder-productos .content-row figure {
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  padding: 0;
  margin: 0 auto;
  width: 350px;
  height: auto;
  /*height: 550px;*/
  display: block;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #e5e5e5;
}
/* line 233, ../sass/main-content.css.scss */
main .content .content-builder .builder-servicios .content-row figure img, main .content .content-builder .builder-productos .content-row figure img {
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.7;
  /* for Iexplorer 8 and earlier */
  filter: alpha(opacity=70);
}
/* line 245, ../sass/main-content.css.scss */
main .content .content-builder .builder-productos .content-row figure {
  width: 250px;
}
/* line 252, ../sass/main-content.css.scss */
main .content .content-contacto {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 255, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-panel {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
/* line 260, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-panel li {
  display: inline-block;
  width: 50%;
}
/* line 263, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-panel li a {
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
/* line 265, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-panel li a:active, main .content .content-contacto .contacto-panel li a:focus, main .content .content-contacto .contacto-panel li a:visited, main .content .content-contacto .contacto-panel li a:link {
  text-decoration: none;
  font-size: 2rem;
  padding: 15px;
  width: 100%;
  display: block;
  color: rgba(255, 255, 255, 0.9);
  background-color: #5F5E5E;
}
/* line 274, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-panel li a.selected, main .content .content-contacto .contacto-panel li a.selected:hover {
  background-color: #353333;
}
/* line 277, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-panel li a:hover {
  cursor: pointer;
  background-color: #494747;
}
/* line 284, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer {
  overflow: hidden;
  height: auto;
  position: relative;
  padding-bottom: 5px;
}
/* line 289, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-contactus, main .content .content-contacto .contacto-layer .layer-findus {
  -moz-transition: all 1 ease-in-out;
  -o-transition: all 1 ease-in-out;
  -webkit-transition: all 1 ease-in-out;
  transition: all 1 ease-in-out;
  -webkit-transform: translate(1000px, 0);
  -ms-transform: translate(1000px, 0);
  transform: translate(1000px, 0);
  display: none;
}
/* line 293, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-contactus.selected, main .content .content-contacto .contacto-layer .layer-findus.selected {
  animation-name: contact-display-content;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: block;
}
/* line 301, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-contactus {
  padding-left: 20px;
  padding-top: 20px;
}
/* line 304, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-contactus .contact-row {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 307, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-label, main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-field {
  float: left;
}
/* line 310, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-label {
  width: 20%;
}
/* line 312, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-label label {
  font-size: 1.5rem;
  padding-top: 10px;
  padding-left: 10px;
  display: block;
  color: #353637;
}
/* line 320, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-field {
  width: 80%;
}
/* line 322, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-field input, main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-field textarea {
  padding: 13.5px 20px;
  outline: none;
  color: #4b4f54;
  border: 1px solid #ccc;
  background-color: #F0EEEE;
  width: 50%;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 3px;
}
/* line 332, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-field input:focus, main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-field textarea:focus {
  border: 1px solid rgba(0, 244, 230, 0.8);
  background-color: #D1FFFC;
}
/* line 338, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-contactus .contact-row #bt_process {
  padding: 13px 25px;
  border: 1px solid #000000;
  color: #FFFFFF;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #434343;
}
/* line 344, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-contactus .contact-row #bt_process:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: black;
}
/* line 352, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-findus {
  overflow: hidden;
  padding-bottom: 10px;
}
/* line 355, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-findus .findus-address, main .content .content-contacto .contacto-layer .layer-findus .findus-details, main .content .content-contacto .contacto-layer .layer-findus .findus-location {
  float: left;
  width: 49%;
  margin-left: 5px;
}
/* line 359, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-findus .findus-address h1, main .content .content-contacto .contacto-layer .layer-findus .findus-details h1, main .content .content-contacto .contacto-layer .layer-findus .findus-location h1 {
  font-size: 1.8rem;
  color: #353637;
  padding-left: 20px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}
/* line 366, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-findus .findus-address .infotext, main .content .content-contacto .contacto-layer .layer-findus .findus-details .infotext, main .content .content-contacto .contacto-layer .layer-findus .findus-location .infotext {
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 371, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-findus .findus-address .infotext label, main .content .content-contacto .contacto-layer .layer-findus .findus-details .infotext label, main .content .content-contacto .contacto-layer .layer-findus .findus-location .infotext label {
  font-size: 1.4rem;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
/* line 378, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-findus .findus-location {
  width: 99%;
}
/* line 380, ../sass/main-content.css.scss */
main .content .content-contacto .contacto-layer .layer-findus .findus-location #map-contact {
  height: 400px;
}
