/*$wlist: 1024, 980, 640,  ;*/
@media only screen and (max-width: 640px) {
  /* line 50, ../sass/media.css.scss */
  html, body {
    font-size: 13px;
  }

  /* line 55, ../sass/media.css.scss */
  main header .header-middle-side .header-logo, main header .header-middle-side .header-icon {
    width: 100% !important;
    display: block;
    text-align: center;
  }
  /* line 60, ../sass/media.css.scss */
  main header .header-middle-side .header-icon {
    padding-top: 10px;
  }
  /* line 65, ../sass/media.css.scss */
  main header .header-bottom-side .header-navigator {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  /* line 68, ../sass/media.css.scss */
  main header .header-bottom-side .header-navigator ul li {
    width: 100%;
  }
  /* line 70, ../sass/media.css.scss */
  main header .header-bottom-side .header-navigator ul li a {
    font-size: 0 !important;
    padding: 0 !important;
  }
  /* line 76, ../sass/media.css.scss */
  main header .header-bottom-side .header-navigator.appear {
    /*@include transform(scale(1) rotate(360deg));*/
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  /* line 81, ../sass/media.css.scss */
  main header .header-bottom-side .header-navigator.appear ul li a {
    font-size: 1.7rem !important;
    padding: 15px 50px !important;
  }
  /* line 89, ../sass/media.css.scss */
  main header .header-bottom-side .header-bar {
    height: auto;
  }
  /* line 91, ../sass/media.css.scss */
  main header .header-bottom-side .header-bar a {
    -webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
  }

  /* line 100, ../sass/media.css.scss */
  main .content .content-builder .builder-servicios .content-row, main .content .content-builder .builder-productos .content-row {
    width: 100% !important;
    display: block;
  }
  /* line 107, ../sass/media.css.scss */
  main .content .content-builder .builder-nosotros .content-row .row-icon, main .content .content-builder .builder-nosotros .content-row .row-body {
    width: 100%;
    display: block;
  }
  /* line 112, ../sass/media.css.scss */
  main .content .content-builder .builder-nosotros .content-row .row-body .row-title {
    text-align: center;
  }
  /* line 122, ../sass/media.css.scss */
  main .content .content-contacto .contacto-layer .layer-contactus .contact-row {
    margin-bottom: 0;
  }
  /* line 124, ../sass/media.css.scss */
  main .content .content-contacto .contacto-layer .layer-contactus .contact-row #bt_process {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* line 128, ../sass/media.css.scss */
  main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-label {
    width: 100% !important;
  }
  /* line 130, ../sass/media.css.scss */
  main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-label label {
    padding-left: 0;
    padding-bottom: 10px;
  }
  /* line 135, ../sass/media.css.scss */
  main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-field {
    width: 100% !important;
  }
  /* line 137, ../sass/media.css.scss */
  main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-field input, main .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-field textarea {
    /*width: 80% !important;*/
    width: 90% !important;
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 154, ../sass/media.css.scss */
  main header .header-middle-side .header-logo {
    width: 50%;
  }
  /* line 157, ../sass/media.css.scss */
  main header .header-middle-side .header-icon {
    width: 50%;
  }
  /* line 160, ../sass/media.css.scss */
  main header .header-middle-side .header-icon li a .icon-data {
    transform: scale(0);
    width: 0px;
    height: 0px;
  }

  /* line 172, ../sass/media.css.scss */
  main .content .content-builder .builder-servicios .content-row, main .content .content-builder .builder-productos .content-row {
    width: 50%;
    margin: 0;
  }
  /* line 181, ../sass/media.css.scss */
  main .content .content-contacto .contacto-layer .layer-findus .findus-address, main .content .content-contacto .contacto-layer .layer-findus .findus-details {
    width: 100%;
    display: block;
  }

  /* line 190, ../sass/media.css.scss */
  main footer .footer-links, main footer .footer-menu {
    float: none !important;
    width: 100% !important;
    display: block;
  }
  /* line 195, ../sass/media.css.scss */
  main footer .footer-copyright {
    float: none;
    display: block;
    width: 100%;
  }

  /* line 5, ../sass/media.css.scss */
  main footer {
    height: auto;
  }
  /* line 7, ../sass/media.css.scss */
  main footer .footer-links, main footer .footer-menu {
    float: left;
    width: 50%;
  }
  /* line 14, ../sass/media.css.scss */
  main footer .footer-links .links-item a:active, main footer .footer-links .links-item a:link, main footer .footer-links .links-item a:visited, main footer .footer-links .links-item a:focus {
    line-height: 30px;
  }
  /* line 24, ../sass/media.css.scss */
  main footer .footer-menu ul li a:active, main footer .footer-menu ul li a:link, main footer .footer-menu ul li a:visited, main footer .footer-menu ul li a:focus {
    line-height: 30px;
  }
  /* line 27, ../sass/media.css.scss */
  main footer .footer-menu ul li a::before {
    top: 18px;
  }
  /* line 34, ../sass/media.css.scss */
  main footer .footer-copyright {
    float: right;
    display: block;
    width: 100%;
  }
  /* line 40, ../sass/media.css.scss */
  main footer .footer-copyright label a:focus, main footer .footer-copyright label a:visited, main footer .footer-copyright label a:active, main footer .footer-copyright label a:link {
    line-height: 30px;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 205, ../sass/media.css.scss */
  main {
    width: 100%;
  }

  /* line 213, ../sass/media.css.scss */
  .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-label {
    width: 30% !important;
  }
  /* line 214, ../sass/media.css.scss */
  .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-field {
    width: 70% !important;
  }
  /* line 216, ../sass/media.css.scss */
  .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-field input, .content .content-contacto .contacto-layer .layer-contactus .contact-row .row-field textarea {
    width: 80% !important;
  }

  /* line 5, ../sass/media.css.scss */
  main footer {
    height: auto;
  }
  /* line 7, ../sass/media.css.scss */
  main footer .footer-links, main footer .footer-menu {
    float: left;
    width: 50%;
  }
  /* line 14, ../sass/media.css.scss */
  main footer .footer-links .links-item a:active, main footer .footer-links .links-item a:link, main footer .footer-links .links-item a:visited, main footer .footer-links .links-item a:focus {
    line-height: 50px;
  }
  /* line 24, ../sass/media.css.scss */
  main footer .footer-menu ul li a:active, main footer .footer-menu ul li a:link, main footer .footer-menu ul li a:visited, main footer .footer-menu ul li a:focus {
    line-height: 50px;
  }
  /* line 27, ../sass/media.css.scss */
  main footer .footer-menu ul li a::before {
    top: 18px;
  }
  /* line 34, ../sass/media.css.scss */
  main footer .footer-copyright {
    float: right;
    display: block;
    width: 100%;
  }
  /* line 40, ../sass/media.css.scss */
  main footer .footer-copyright label a:focus, main footer .footer-copyright label a:visited, main footer .footer-copyright label a:active, main footer .footer-copyright label a:link {
    line-height: 50px;
  }
}
